button{
    border-radius: 10px;
    text-decoration-line: none;
    border: none;
}
#button_insert{
    background-color: pink;
}
#button_update{
    background-color: skyblue;
}
#button_delete{
    background-color: beige;
}
#button_select{
    background-color: violet;
}